.editSkillForm {
    width: 45%;
    padding: 20px 20px;
}

.editSkillForm .formTitle {
    font-size: 1.45em;
    font-family: sans-serif;
    margin-bottom: 15px;
}

.editSkillForm .form-item .form-item-label {
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 0.95em;
}

.editSkillForm .form-item .form-item-input {
    border: 2px solid #d5e0d5;
    border-radius: 5px;
    height: 40px;
    width: 100%;
    outline: none;
    padding: 4px 10px;
    font-size: 0.95em;
}

.editSkillForm .form-item .error {
    color: #9b211b;
    font-size: 0.95em;
}

.editSkillForm .form-item .form-item-input.borderError {
    border: 1.5px solid #9b211b;
}

.editSkillForm .btnGroup {
    margin-top: 90px;
}

.editSkillForm .btnSubmit {
    background-color: #14a800;
    color: #fff;
    margin-right: 5px;
}

.editSkillForm .btnSubmit:hover {
    color: #fff;
    background-color: #0f8300;
}

.editSkillForm .btn {
    padding: 4px 15px;
}

.editSkillForm .btnCancel {
    color: #14a800;
}

.editSkillForm .btnCancel:hover {
    color: #0f8300;
}